<div class="header">
  <div class="logo-parent" id="frameContainer">
    <img class="logo-icon" alt="Logo" src="/assets/Logo.png" />
    <b class="bilal">Bilal</b>
  </div>
  
  <div class="header-link-parent">
    <div class="header-link" id="headerLinkContainer">
      <div class="div">#</div>
      <div class="home">home</div>
    </div>
    <div class="header-link1">
      <div class="elias">#</div>
      <div class="home1">works</div>
    </div>
    <div class="header-link1">
      <div class="elias">#</div>
      <div class="home1">about-me</div>
    </div>
    <div class="header-link1">
      <div class="elias">#</div>
      <div class="home1">contacts</div>
    </div>
    <div class="language-switcher">
      <div class="en">EN</div>
      <img class="language-switcher-child" alt="" src="Group 58.svg" />
      <div class="ru-parent">
        <div class="elias">EN</div>
        <div class="elias">FR</div>
      </div>
    </div>
  </div>
</div>
