<div class="container">
    <div class="divider"></div>
    <div class="content">
        <div class="header">
            <div class="info">
                <div class="profile">
                    <div class="profile-details">
                        <div class="icon">
                            <img src="/assets/Logo.png" alt="https://via.placeholder.com/16x16" />
                        </div>
                        <div class="name">Bilal</div>
                    </div>
                    <div class="email">bilal&#64;bilal.bil</div>
                </div>
                <div class="description">Python developer and data analyst</div>
            </div>
            <div class="media">
                <div class="media-title">Media</div>
                <div class="media-icons">
                    <img src="/assets/Discord.png" alt="Discord">
                    <img src="/assets/Github.png" alt="github">
                </div>
            </div>
        </div>
        <div class="footer">© Copyright 2024. Made by Bilal</div>
    </div>
</div>
