<div class="footer-container">

    <div class="left-container">
        <div class="logo-parent" id="frameContainer">
            <img class="logo-icon" alt="Logo" src="/assets/Logo.png" />
            <b class="bilal">Bilal</b>
        </div>
    </div>

    <div class="right-container">
        <a >Media</a>
        <div class="socials"></div>
        <ul>
            <img src="../assets/Discord.PNG" alt="discord">
            <img class="github-logo" src="../assets/Github.png" alt="github">
        </ul>
    </div>
</div>
