.logo-icon {
    width: 16px;
    position: relative;
    height: 16px;
    object-fit: cover;
    }

.bilal{
    position: relative;
    font-weight: 500;
}
.github-logo{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
.footer-container{
    height:75px;
    border: 5px red solid;
    display: flex;
    width: 1025px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 48px;
}

.right-container{
    width: 112px;
    height: 75px;
    margin-left: 437px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    line-height: normal;
}
