<div class="container">
    <div class="divider"></div>
    <div class="content">
        <div class="header">
            <div class="info">
                <div class="profile">
                    <div class="profile-details">
                        <div class="icon">
                            <img src="./assets/Logo.png" alt="https://via.placeholder.com/16x16" />
                        </div>
                        <div class="name">Bilal</div>
                    </div>
                    <a href="mailto: bilal.elhamdaoui21@gmail.com" class="text-lg font-medium text-white hover:underline">Contact</a>
                </div>
                <div class="description">Développeur Python & Angular</div>
            </div>
            <div class="media">
                <div class="media-title">Media</div>
                <div class="media-icons">
                    <a href="https://Discord.gg" target="_blank"><img src="./assets/Discord.png" alt="Discord"></a>
                    <a href="https://github.com/Bilal0003" target="_blank"><img src="./assets/Github.png" alt="github"></a>
                </div>
            </div>
        </div>
        <div class="footer">© Copyright 2024. Made by Bilal</div>
    </div>
</div>
