.html {
    position: relative;
}
.html-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
}
.chertnodes {
    align-self: stretch;
    position: relative;
    font-size: 24px;
    font-weight: 500;
}
.minecraft-servers-hosting {
    align-self: stretch;
    position: relative;
    color: #abb2bf;
}
.live {
    position: relative;
    font-weight: 500;
}
.live-wrapper {
    border: 1px solid #c778dd;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
}
.instance-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.chertnodes-parent {
    align-self: stretch;
    border-top: 1px solid #abb2bf;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    gap: 16px;
    color: #fff;
}
.project {
    margin-top: 90px;
    width: 200px;
    position: relative;
    border: 1px solid #abb2bf;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 16px;
    color: #abb2bf;
    font-family: 'Fira Code';
}

