

  <img class="project-child" alt="" [src]="getImageUrl(project)"   />
  
  <div class="coding-langs">
    <div class="html"> {{project.languages }}</div>
  </div>

  <div class="chertnodes-parent">
    <div class="chertnodes"> {{ project.name }} </div>
    <div class="minecraft-servers-hosting"> {{ project.description }} </div>
    <div class="instance-parent">
      <div class="live-wrapper">
        <div class="live">Live &lt;~&gt;</div>
      </div>
      <div class="demo-wrapper">
        <div class="live">Cached &gt;=</div>
      </div>
    </div>
  </div>
  

