<div class="contacts-container">
  <p class="contact-text">
    Hello , je suis Bilal! Je suis interessé par des opportunitées du
    developpement fullstack, mais egalement par le coté technique derrie l'IA
    (MLOPS) et le testing des applications à grande échelle.
  </p>

  <div class="right-container">
    <div class="message-me-here-parent">
      <div class="message-me-here">Message me here</div>
      <div class="instance-parent">

        <a href="https://discord.gg" target="_blank">
          <div class="discord-parent">
            <img class="discord-icon" alt="" src="./assets/Discord.png" />
            <div class="elias">Discord</div>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/bilal-el-hamdaoui-03820a223" target="_blank">
          <div class="discord-parent">
            <img class="discord-icon" alt="" src="./assets/Email.png" />
            <div class="elias">bilal&#64;bilal.bil</div>
          </div>
        </a>

      </div>
    </div>
  </div>

  <div class="h2-parent">
    <div class="h2">
      <div class="instance-wrapper">
        <div class="live">#</div>
        <div class="projects1">contacts</div>
      </div>
      <img class="line-7-stroke" alt="" src="./assets/Line 7 (Stroke).png" />
    </div>
  </div>
</div>
