<div class="contacts-container">
  <p class="contact-text">
    Hello , je suis Bilal! Je suis interessé par des oppurtintés du
    developpement fullstack, mais egalement par le coté technique derrie l'IA
    (MLOPS).
  </p>

  <div class="right-container">
    <div class="message-me-here-parent">
      <div class="message-me-here">Message me here</div>
      <div class="instance-parent">
        <div class="discord-parent">
          <img class="discord-icon" alt="" src="/assets/Discord.png" />
          <div class="elias">!Elias#3519</div>
        </div>
        <div class="discord-parent">
          <img class="discord-icon" alt="" src="/assets/Email.png" />
          <div class="elias">bilal&#64;bilal.bil</div>
        </div>
      </div>
    </div>
  </div>

  <div class="h2-parent">
    <div class="h2">
      <div class="instance-wrapper">
        <div class="live">#</div>
        <div class="projects1">contacts</div>
      </div>
      <img class="line-7-stroke" alt="" src="/assets/Line 7 (Stroke).png" />
    </div>
  </div>
</div>
