<div class="biblio-container">


    <p class="about-text">Hello , je suis Bilal!
        Je suis un développeur polyvalent avec une solide formation académique (Master en Informatique et Nanosciences) et une expérience diversifiée en programmation (C++, Python, Java), gestion de bases de données (Oracle, MySQL), et outils de développement (Git, Docker, Azure DevOps). J'ai travaillé sur des projets innovants, notamment le contrôle d'objets par la pensée et des systèmes d'informatique analogique, démontrant mes compétences en analyse de données complexes et communication scientifique. Polyglotte (français, anglais, allemand), je m'adapte facilement à divers environnements de travail.

      </p>
    <div class="image-decor">
      <img src="/assets/Group 50.png" alt="">
    </div>

    <div class="button-container">
      <div class="button">Read more &rarr;</div>
    </div>
    

    <div class="h2-parent">
        <div class="h2">
          <div class="instance-wrapper">
            <div class="live">#</div>
            <div class="projects1">about-me</div>
          </div>
          <img class="line-7-stroke" alt="" src="/assets/Line 7 (Stroke).png" />
        </div>
    </div>
    

</div>