<div class="projects">
  <div class="project-parent">
    <div class="project" *ngFor="let project of projects">
      <app-project
        [project]="project"
        (click)="navToProject(project)"
      >
      </app-project>
    </div>
  </div>

  <div class="h2-parent">
    <div class="h2">
      <div class="instance-wrapper">
        <div class="live">#</div>
        <div class="projects1">projects</div>
      </div>
      <img class="line-7-stroke" alt="" src="./assets/Line 7 (Stroke).png" />
    </div>
    <a class="view-all" id="viewAll" (click)="NavToWorks()">View all ~~&gt;</a>
  </div>
</div>

<div class="dots">
  <div class="ellipse-parent">
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
  </div>
  <div class="ellipse-parent">
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
  </div>
  <div class="ellipse-parent">
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
  </div>
  <div class="ellipse-parent">
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
  </div>
  <div class="ellipse-parent">
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
    <div class="frame-child"></div>
  </div>
</div>

<div class="rectangle"></div>
