.project-child {
    width: 330.6px;
    position: relative;
    height: 201px;
    object-fit: cover;
}
.html {
    position: relative;
}
.flask1 {
    width: 48px;
    position: relative;
    display: none;
}
.html-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
}
.html-group {
    width: 330.6px;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    box-sizing: border-box;
    gap: 8px;
}
.chertnodes {
    align-self: stretch;
    position: relative;
    font-size: 24px;
    font-weight: 500;
}
.minecraft-servers-hosting {
    align-self: stretch;
    position: relative;
    color: #abb2bf;
}
.live {
    position: relative;
    font-weight: 500;
}
.live-wrapper {
    border: 1px solid #c778dd;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
}
.demo-wrapper {
    border: 1px solid #abb2bf;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
    color: #abb2bf;
}
.instance-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.chertnodes-parent {
    align-self: stretch;
    border-top: 1px solid #abb2bf;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    gap: 16px;
    color: #fff;
}
.project {
    border: 1px solid #abb2bf;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
}
.instance-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.rectangle-parent {
    border: 1px solid #abb2bf;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.project-parent {
    position: absolute;
    top: 90px;
    left: 2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.projects1 {
    position: relative;
    font-weight: 500;
    color: #fff;
}
.line-7-stroke {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 1px;
}
.h2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 701px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.view-all {
    position: absolute;
    top: 10px;
    left: 911px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.h2-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1027px;
    height: 42px;
    font-size: 32px;
    color: #c778dd;
}
.projects {

    margin-top: 300px;
    width: 1027px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 518px;
    text-align: left;
    font-size: 16px;
    color: #abb2bf;
    font-family: 'Fira Code';

}

.project{
    position: relative;
        border: 1px solid #abb2bf;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        font-size: 16px;
        color: #abb2bf;
        font-family: 'Fira Code';
}

.dots{
        position: relative;
        bottom: 300px;
        float: left;
        width: 84px;
        height: 84px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: -50px;

    .frame-child {
        width: 4px;
        position: relative;
        border-radius: 50%;
        background-color: #abb2bf;
        height: 4px;
  }
  .ellipse-parent {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
  }
  
}

.rectangle{
    width: 155px;
    height: 155px;
    position: relative;
    float:right;
    margin-right: -20px;
    flex-shrink: 0;
    border: 1px solid var(--gray, #ABB2BF);

}

.view-all:hover{
    color: #c778dd;
}