.html {
    position: relative;
}
.html-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
}
.project-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent {
    position: absolute;
    top: 90px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.small-projects {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Fira Code';
    color: #fff;
    text-align: left;
}


.h2 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 32px;
    color: #c778dd;
}
.small {
    border: 1px solid #abb2bf;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 1027px;
    position: relative;
    height: auto;
    text-align: left;
    font-size: 16px;
    color: #abb2bf;
    font-family: 'Fira Code';
}

.live {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Fira Code';
    color: #c778dd;
    text-align: left;
    }