<div class="skills-container">
  <div class="right-container">
    <div class="skill" *ngFor="let skill of skills">
      <app-skill [skill]="skill"></app-skill>
    </div>
  </div>

  <div class="left-container">
    <img src="/assets/skills-deco.png" alt="">
  </div>

  <div class="h2-parent">
    <div class="h2">
      <div class="instance-wrapper">
        <div class="live">#</div>
        <div class="skills1">skills</div>
      </div>
      <img class="line-7-stroke" alt="" src="/assets/Line 7 (Stroke).png" />
    </div>
  </div>
</div>
