

.container{
    position: relative;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    width: 1027px;
    height: 70vh;
    border: 1px solid #ABB2BF;
    display: flex;
    flex-direction: column;
    
}


.title{
    position: relative;
    top: -50px;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Fira Code';
    color: #fff;
    text-align: left;   
}

.buttons-container{
    position: relative;
    display: flex;
    margin-top: 65vh;
    margin-left: auto;
    margin-right: auto
    /* justify-content: space-between */;
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; */
    
}

