

.container{
    position: relative;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    width: 1027px;
    height: 70vh;
    border: 1px solid #ABB2BF;
    display: flex;
    flex-direction: column;
    
}


.title{
    position: relative;
    top: -50px;
    height: 50px;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Fira Code';
    color: #fff;
    text-align: left;   
}

.buttons-container{
    position: relative;
    display: flex;
    /* margin-top: 65vh;
    margin-left: auto;
    margin-right: auto; */
    justify-content: space-evenly ;
    
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-bottom: auto; 
    
}

button{
    border: 1px solid #c778dd;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
    position: relative;
    font-weight: 500;
    color: var(--white, #FFF);
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: inherit;
    cursor: pointer;
}


#sorting-container{
  display: flex;
  /* width: 80%; */
  /* top: 20%; */
  /* left: 9%;   */
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin-bottom: auto;
  height: 90%;
  border: 1px solid white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px ;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  gap:2px;

}

.bar{
    flex : 1;
    background-color: rgba(255, 255, 255, 0.411); /* chosen by Massilya*/
    display: inline-flex;
    width: 10px;
    align-self: flex-end;
    margin: 0 1px;

}

.mid-container{
    height: 70%;
    width: auto;
    margin-left: 7%;
    margin-right: 7%;
    position:relative;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.size-span{
    position: relative;
    left: -60px;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 0
}

#size-slider, #time-slider{
    margin-top: 55px;
    height: 100px;
    transform: rotate(270deg);
}

#size-slider, #time-slider::-webkit-slider-thumb{
    cursor: pointer;
    /* background-color: #c778dd; */

}

#size-slider, #time-slider::-moz-range-thumb{
    cursor: pointer;
    /* background-color: #c778dd; */

}

.delay-span{
  
    position: relative;
    right: -60px;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 0
}

.delay-size-text{
    font-weight: 500;
    color: var(--white, #FFF);
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.runningError{
    position: absolute;
    bottom: -59px;
    font-weight: 500;
    color: red;
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}