<div class="container"  >
  <div class="title">Sorting Visualiser</div>
  <div class="sorting-container" id="sorting-container"></div>
  <div class="buttons-container" >
    <button class="btn" (click)="playBS2()">Bubble Sort</button>
    <button class="btn" (click)="playMerge()">Merge Sort</button>
    <button class="btn" (click)="playSelectionSort()">Selection Sort</button>
    <button class="btn">Bogo Sort</button>
    <button class="btn" (click)="Shufflecurrent()">Shuffle Array</button>
  </div>
</div>
