<div class="container"  >
  <div class="title">Sorting Visualiser</div>
  <div class="mid-container">

    <div class="size-span">
      <div class="delay-size-text">Size</div>
      <input id="size-slider"
      type="range"
      min="10"
      max="100"
      step="1"
      [value]="200"
      [disabled]="this.running"
      (input)="updateArraySize()"/>
    </div >


    <div class="sorting-container" id="sorting-container"></div>
    
    
    <div class="delay-span"> 
      <div class="delay-size-text">Delay</div>
      <input id="time-slider"
      type="range"
      min="0"
      max="300"
      stepDown="10"
      defaultValue="300"
      (input)="updateDelay()"/>
    </div>
  </div>

  <div class="buttons-container" >
    <button class="btn" (click)="playBS2()">Bubble Sort</button>
    <button class="btn" (click)="playMerge()">Merge Sort</button>
    <button class="btn" (click)="playSelectionSort()">Selection Sort</button>
    <button class="btn">Bogo Sort</button>
    <button class="btn" (click)="playShuffle()">Shuffle Array</button>
    <div class="runningError" *ngIf=""  >
      Array currently being manipulated, please wait for the operations to complete.
    </div>
  </div>
</div>
