<div class="container">
    <div class="main-content">
        <div class="intro-text">
            <span class="white-text">Bilal est un </span>
            <span class="highlight-text">développeur Python/Java</span>
            <span class="white-text"> et </span>
            <span class="highlight-text">Angular</span>
        </div>
        <p class="description">Il étudie l'informatique et développe une multitude de projets en utilisant diverses technologies</p>
        <div class="contact-button">
            <spartan-dialog-preview></spartan-dialog-preview>
        </div>
    </div>
    <div class="image-content">
        <div class="small-images">
        <img class ="Outline" src="./assets/Outline.png">    
        </div>
        <img class="large-image" src="./assets/Image.png" />
        <div class="dots">
            <div class="row">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="row">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="row">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="row">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
    <div class="status">
        <div class="status-indicator"></div>
        <div class="status-text">
            <span class="status-subtext">Expérience en développement chez</span>
            <span class="status-highlight">&nbsp;Sogeti (Capgemini)</span>
        </div>
    </div>
</div>
