<div style="background-color: #f39c12; color: white; font-family: Arial, sans-serif; text-align: center; padding: 10px; position: relative; border-bottom: 3px solid #e67e22;">
    <span style="font-size: 24px; margin-right: 10px;">🚧</span>
    <p style="display: inline; font-size: 18px; margin: 0; font-weight: bold;">
        Mon portfolio est actuellement en cours de développement. Veuillez consultez mon projet récent.
        Cliquez <a href="/Portfolio/works/sorting-visualiser" style="color: white; text-decoration: underline;">ici</a> pour voir le visualiseur de tri.
    </p>
  </div>
  
<app-about></app-about>
<app-quotes></app-quotes>
<app-projects></app-projects>
<app-skills></app-skills>
<app-biblio></app-biblio>
<app-contacts></app-contacts>
